<div class="container">
  <div class="col-md-4 col_2">
    <h4>About Us</h4>
    <p>"Nyc Life Line Service is a free matrimonial service in India. All Castes and Christians with particular born castes "</p>
  </div>
  <div class="col-md-2 col_2">
    <h4>Help & Support</h4>
    <ul class="footer_links">
      <li><a href="#">24x7 Live help (What's App - 8331994610)</a></li>
      <li><a href="#">Email : nyclifeline@gmail.com</a></li>
    </ul>
  </div>
  <!-- <div class="col-md-2 col_2">
    <h4>Quick Links</h4>
    <ul class="footer_links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Services</a></li>
    </ul>
  </div> -->
  <div class="col-md-2 col_2">
    <h4>Social</h4>
    <ul class="footer_social">
    <li><a href="https://www.facebook.com/Nyc-Life-Line-Service-102003824843127/?notif_id=1589329652132976&notif_t=page_fan&ref=notif" target="_blank"><i class="fa fa-facebook fa1"> </i></a></li>
    <li><a href="https://www.youtube.com/channel/UC-Onz9rcupO-AdL5uq_nuKQ" target="_blank"><i class="fa fa-youtube fa1"> </i></a></li>
    </ul>
  </div>
  <div class="clearfix"> </div>
  <!-- <div class="copy">
     <p>Copyright © 2015 Marital . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div> -->
</div>
