<div class="navbar-inner">
  <div class="container">
    <div class="navigation">
      <nav id="colorNav">
        <ul>
          <li class="green">
            <a href="#" class="icon-home"></a>
            <ul>
              <li><a href="/Login">Login</a></li>
              <li><a href="/Registration">Register</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <a class="brand" href="/"><img class="logoimg" src="Public/images/lifelinelogo.png" alt="logo"></a>
    <!-- <a class="brand" href="/"><img class="logoimg" src="Public\images\Services\logo.jpeg" alt="logo"></a> -->

    <div class="pull-right">
      <!-- <div>
        <form class="form-inline" role="form" method="post">

          <div class="form-group" id="login_form">
            <input class="form-control" id="text" placeholder="Enter mobile/Id" name="email"
              style="width:46%; display:inline; padding:5px;font-size:15px" required="">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
              style="width:35%; display:inline; padding:5px;font-size:15px" name="password" required="" value="">
            <button type="submit" class="btn btn-default" style="font-size:15px; background-color: #1d1418; color:#FFF"
              name="login">Login</button>
              <br/>
              <a href="" class="btn btn-default" style="font-size:15px; background-color: #1d1418; color:#FFF">New Registration</a>
          </div>
        </form>
      </div> -->
      <nav class="navbar nav_bottom" role="navigation">
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav nav_1">
            <!-- <li class="last"><a href="/About_us">About Us</a></li>
        <li class="last"><a href="/presidentmsg">President Message</a></li>
        <li class="last"><a href="/Services">Services</a></li>
        <li class="last"><a href="/Contact_us">Contact Us</a></li> -->
            <li class="last"><a href="/Login"><b>Login</b></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>