<div class="navbar-inner">
  <div class="container">
     <div class="navigation">
       <nav id="colorNav">
   <ul>
  <li class="green">
    <a href="#" class="icon-home"></a>
    <ul>
        <li><a href="/home">Home</a></li>
        <!-- <li><a href="/About_us">About Us</a></li>
        <li><a href="/presidentmsg">President Message</a></li>
        <li><a href="/Services">Services</a></li>
        <li><a href="/Contact_us">Contact Us</a></li> -->
        <li><a href="/New_Profiles">New Matches</a></li>
        <li><a href="/My_Profile">My Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
   </ul>
       </nav>
     </div>
     <a class="brand" href="/home"></a>
     <a class="brand" href="/home"><img src="Public/images/lifelinelogo.png" class="logoimg" alt="logo"></a>
     <div class="pull-right">
      <nav class="navbar nav_bottom" role="navigation">
<div class="navbar-header nav_2">
    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
 </div>
 
  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1 nav_new">
          <li><a href="/home">Home</a></li>
          <li><a href="/New_Profiles">New Matches</a></li>
          <li><a href="/MyFavs">Favourites</a></li>
          <!-- <li><a href="#">Profile Visitors</a></li> -->
          <li class="last"><a href="/My_Profile">My Profile</a></li>
          <li class="last"><a href="/upgrade">Plans</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
   </div>
  </nav>
 </div>
    <div class="clearfix"> </div>
  </div>
</div>

<!-- actionmodal -->

<div class="modal" tabindex="-1" role="dialog" id="actionmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>Action</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5>Thank You.. I am <span id="firstname"></span> <span id="surname"></span></h5>
          <p>About My Self :  <span>Text Here</span></p>
          <p>Last Login :  <span>7 days ago</span></p>
          <hr>
          <h5 class="modal-title"><b>
            <button type="button" class="btn btn-primary" id="FavouritesBtn">Keep In Favourites</button>
            <button type="button" class="btn btn-success" id="InterestBtn">Send Request</button>
            <button type="button" class="btn btn-info" id="MessageBtn">Send Direct Message</button>
            <span id="detailstag"></span>
          </b></h5>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>